.header {
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../img/slider-image1.jpg");
  background-size: cover;
  background-position: center;
}
