body {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mukta", sans-serif;
  line-height: 1;
}

.header-text {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);

  &__one {
    font-size: 5.5rem;
    color: #fff;
    margin-bottom: 2rem;
  }
  &__two {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 4rem;
  }
  .btn {
    font-family: "Mukta";
  }
}
.secondry-heading {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.secondry-paragraph {
  font-size: 1.5rem;
  line-height: 1.7;
  color: rgba($color: #000000, $alpha: 0.8);
}
.tertiary-heading {
  font-size: 4rem;
}
.tertiary-paragraph {
  font-size: 2rem;
  line-height: 1.7;
  font-weight: 700;
  color: rgba($color: #000000, $alpha: 0.4);
}
.four-heading {
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.form-heading {
  color: #fff;
  font-size: 3.2rem;
}

.form-paragraph {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}
